/* variabili valide in tutta l'app */
:root {
	--ion-safe-area-top: 20px;
	--ion-safe-area-bottom: 20px;

	/* colore di sfondo dell'intera app */
	--ion-background-color: #f2f2f2;

	/* imposto il font da usare in tutta l'app */
	--ion-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
		'Roboto', sans-serif;
}

/* imposto il colore del font solo per iOS */
.ios {
	--ion-text-color: #000;
}

/* imposto il colore del font solo per Android (Material Design) */
.md {
	--ion-text-color: #000;
}


/* INIZIO tab */
ion-tab-bar {
	--background: #222428;
	--color: #ffffff;
}
/* FINE tab */


/* INIZIO schedule */
ion-item-group > ion-item {
	--background: #ffffff;
}
.schedule ion-item > ion-label {
	border-left: 2px solid #3880ff;
	padding-left: 10px;
}
ion-tab-button[tab="schedule"] {
	--color-selected: #3880ff;
}
/* FINE schedule */


/* INIZIO speakers */
.speaker-card {
	--background: #ffffff;
}
.card-header > ion-item {
	--background: #ffffff;
}
.card-header ion-label {
	background-color: #ffffff;
}
.speaker-card .title {
	font-size: large;
	font-weight: bold;
}
.card-content ion-item {
	--background: #ffffff;
}
.card-content .bull {
	color: #0cd1e8;
	font-size: x-large;
}
.speaker-card .list-md {
	background-color: #ffffff;
}
ion-tab-button[tab="speakers"] {
	--color-selected: #0cd1e8;
}
ion-tab[tab="speakers"] ion-item {
	--min-height: 500;
} 
/* FINE speakers */


/* INIZIO map */
#mapView {
	width: 100vw;
	height: 100%;
}
ion-tab-button[tab="map"] {
	--color-selected: #7044ff;
}
.popup .leaflet-popup-content-wrapper {
	font-size: large;
	color: var(--ion-color-dark);
	font-weight: bold;
}
.popup > a[class="leaflet-popup-close-button"] {
	color: #f04141;
}
/* FINE map */


/* INIZIO information */
.about-info {
padding-top: 10px;
}
.about-info ion-item > ion-label {
	padding-left: 10px;
}
.about-info p {
	margin: 0;
	text-align: left;
	padding: 1rem;
	line-height: 1.5;
	color: var(--ion-color-dark);
}
.ion-padding-start {
	font-size: x-large;
	font-weight: bolder;
}
ion-tab-button[tab="info"] {
	--color-selected: #10dc60;
}
/* FINE information */
